body
{
	background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT72_x12qEB20ntAyJSXab1pKP950rTVBmN4YfDsl9KuRdFqmib");
	font-family: "vollkorn", serif;
}
body > header
{
	background-image: url("http://jomantha.e-learninghub.info/images/shutterstock_17778601_blank%20newspaper.jpg");
	background-position: center;
	background-repeat: no-repeat;
	font-family: "Special Elite", cursive;
	margin: 20px;
	padding: 10px;
	text-align: center;
}
a
{
	color: #A62A2A;
	text-decoration: none;
}
a:hover
{
	color: red;
	text-decoration: underline;
}
h1
{
	font-size: 24pt;
	text-align: center;
}
h2
{
	font-size: 18pt;
}
h3
{
	font-size: 14pt;
}
img
{
	float: left;
	padding: 5px;
	width: 200;
	height: 135;
}
ul
{
	list-style-type: none;
}
hr
{
	border-color: gray;
	border-style: solid;
	border-width: 5px;
}
span
{
	display: block;
}
address
{
	display: block;
}
#sitenavigation
{
	color: black;
	display: block;
	float: bottom;
	font-family: "vollkorn", serif;
	font-size: 16pt;
	margin: 5px;
	padding: 10px;
	width: 200px;
}