p
{
	color: #A9A9A9;
}
.main
{
	font-size: 20pt;
	font-weight: bold;
}
.small 
{
	line-height: 150%;
}
.big
{
	line-height: 275%;
}
article
{
	background-color: #D3D3D3;
	border-style: double;
	border-width: 4px;
	border-color: #708090;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
