#container
{
	background-image: url("http://wordpressdev.nepatriotsdraft.com/wp-content/uploads/2010/05/chicken.jpg")
}
#heading
{
	float: top;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}